.breakpoint-0 {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: #fff
}
.style5 {
  background-color: rgba(153,158,160,.20000000298023224);
  margin-left: 24.21875vw;
  margin-top: 12.222222222222221vh;
  width: 7.291666666666667vw;
  height: 7.291666666666667vw;
  z-index: 4
}
.style3 {
  background-image: url(https://designresources.assets.yotako.io/87fgw4qkkd9sczfv.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-left: 23.22447458902995vw;
  margin-top: 26.61786397298177vh;
  width: 13.958326975504557vw;
  height: 13.958214124043783vw;
  z-index: 2
}
.designbilfootprintimage2col0,
.style13 {
  position: relative;
  width: 26.92148208618164vw
}
.designbilfootprintimage2col0 {
  display: flex;
  margin-left: -1.6060384114583333vw;
  margin-top: -6.403466860453288vw;
  flex-direction: column;
  height: 13.60881487528483vw
}
.style13 {
  margin-left: 0;
  margin-top: 0;
  height: 8.973682721455893vw;
  z-index: 12;
  flex-shrink: 0
}
.style16,
.style17 {
  width: .0008138020833333334vw
}
.style16 {
  background-image: url(https://designresources.assets.yotako.io/87fgw4qkkd9sd2m7.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-left: 2.0801734924316406vw;
  margin-top: 4.634111722310384vw;
  flex-shrink: 0;
  height: .0010204315185546875vw;
  z-index: 15
}
.style17 {
  height: .0006119410196940104vw;
  z-index: 16
}
.designbilfootprintrow2 {
  display: flex;
  margin-left: 4.484376907348633vw;
  margin-top: 1.3188736527054399vh;
  width: 91.83478355407715vw;
  flex-wrap: wrap
}
.style2 {
  margin-left: 0;
  margin-top: 7.861830393473308vw;
  width: 6.646854082743327vw;
  min-width: 85.07973225911458px;
  height: 6.6469065348307295vw;
  z-index: 1
}
.style7 {
  background-image: url(https://designresources.assets.yotako.io/87fgw4qkkd9sd0dx.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  position: relative;
  display: flex;
  margin-left: 11.550928751627604vw;
  margin-top: 0;
  width: 54.74164962768555vw;
  min-width: 700.693115234375px;
  height: 27.37049738566081vw;
  z-index: 6;
  flex-direction: column;
  flex-grow: 1
}
.style14,
.style71 {
  background-color: #fff;
  display: flex
}
.style14 {
  border-left: .052083333333333336vw solid #707070;
  border-right: .052083333333333336vw solid #707070;
  border-top: .052083333333333336vw solid #707070;
  border-bottom: .052083333333333336vw solid #707070;
  position: relative;
  flex-shrink: 0;
  margin-left: -22.682159741719563vw;
  margin-top: -29.776795705159504vw;
  width: 100vw;
  height: 56.40625vw;
  z-index: 13
}
.style71 {
  margin-left: 2.0312325159708657vw;
  margin-top: .10416666666666667vw;
  width: 11.25vw;
  height: 6.875vw;
  z-index: 70;
  flex-direction: column
}
.designbilfootprintrow2image5container1container8row0 {
  display: flex;
  margin-left: 1.0416666666666667vw;
  margin-top: 1.718749205271403vw;
  width: 9.375vw;
  height: 3.8169082005818686vw
}
.designbilfootprintrow2image5container1container8row0col0 {
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 3.3188891410827637vw;
  height: 3.8169082005818686vw;
  flex-direction: column
}
.style74 {
  margin-left: 0;
  margin-top: .4917760690053304vw;
  width: 1.4746284484863281vw;
  height: 2.0719381173451743vw;
  z-index: 73
}
.style72 {
  margin-left: .013936956723531088vw;
  margin-top: .3218487898508708vw;
  width: .12887020905812582vw;
  height: .34204284350077313vw;
  z-index: 71
}
.style77 {
  margin-left: .14451305071512857vw;
  margin-top: 2.885619799296061vw;
  width: .23441831270853677vw;
  height: .34784475962320965vw;
  z-index: 76
}
.style78 {
  margin-left: .0974138577779134vw;
  margin-top: 2.8914221127827964vw;
  width: .24076104164123535vw;
  height: .34201304117838544vw;
  z-index: 77
}
.style73 {
  margin-left: .09209473927815755vw;
  margin-top: 2.8855907917022705vw;
  width: .2364663283030192vw;
  height: .34787336985270184vw;
  z-index: 72
}
.style76 {
  background-image: url(https://designresources.assets.yotako.io/87fgw4qkkd9sdj7p.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-left: .32483498255411786vw;
  margin-top: 0;
  width: 3.3188891410827637vw;
  height: 3.8169082005818686vw;
  z-index: 75;
  justify-content: center
}
.style79 {
  margin-left: 1.0217193762461345vw;
  margin-top: .4917760690053304vw;
  width: 1.2038894494374592vw;
  height: 2.0719663302103677vw;
  z-index: 78
}
.designbilfootprintrow2image5container1container8row0col1 {
  display: flex;
  margin-left: 2.0171006520589194vw;
  margin-top: .5204455057779948vw;
  width: .35177071889241535vw;
  height: 2.056181033452352vw;
  flex-direction: column
}
.designbilfootprintrow2image5container1container8row0col1row0 {
  display: flex;
  margin-left: .04323244094848633vw;
  margin-top: 0;
  width: 1.929643154144287vw;
  height: .3920435905456543vw
}
.style80 {
  margin-left: 0;
  width: .22955497105916342vw;
  height: .38604219754536945vw;
  z-index: 79
}
.style81 {
  margin-left: .047298272450764976vw;
  width: .3068319956461589vw;
  height: .38604239622751874vw;
  z-index: 80
}
.style82 {
  margin-left: .06706555684407552vw;
  width: .2605279286702474vw;
  height: .38607080777486164vw;
  z-index: 81
}
.style83,
.style84 {
  margin-left: .09178320566813152vw;
  width: .3102445602416992vw;
  height: .3920435905456543vw;
  z-index: 82
}
.style84 {
  margin-left: .06558577219645183vw;
  width: .2469333012898763vw;
  z-index: 83
}
.style85 {
  margin-left: .10694185892740886vw;
  width: .19687573115030924vw;
  height: .38607080777486164vw;
  z-index: 84
}
.designbilfootprintrow2image5container1container8row0col1row1 {
  display: flex;
  margin-left: .04604816436767578vw;
  margin-top: .43701032797495526vw;
  width: 3.992962042490641vw;
  height: .397987961769104vw
}
.style86 {
  background-color: #702f8a;
  margin-left: 0;
  width: .0522764523824056vw;
  height: .3859853744506836vw;
  z-index: 85
}
.style87,
.style88 {
  margin-left: .11342525482177734vw;
  width: .2605867385864258vw;
  height: .3859853744506836vw;
  z-index: 86
}
.style88 {
  margin-left: .06399313608805339vw;
  width: .23225784301757812vw;
  z-index: 87
}
.style89,
.style90,
.style91 {
  margin-left: .06331125895182292vw;
  width: .19687334696451822vw;
  height: .3859853744506836vw;
  z-index: 88
}
.style90,
.style91 {
  margin-left: .08299509684244792vw;
  width: .23444652557373047vw;
  z-index: 89
}
.style91 {
  margin-left: .08563836415608723vw;
  width: .26058514912923175vw;
  z-index: 90
}
.style92,
.style93,
.style94 {
  margin-left: .06712277730305989vw;
  width: .3067191441853841vw;
  height: .3859853744506836vw;
  z-index: 91
}
.style93,
.style94 {
  margin-left: .010409355163574219vw;
  width: .2323150634765625vw;
  z-index: 92
}
.style94 {
  background-color: #702f8a;
  margin-left: .0660403569539388vw;
  width: .05233287811279297vw;
  z-index: 93
}
.style95 {
  margin-left: .09493907292683919vw;
  width: .2774779001871745vw;
  height: .397987961769104vw;
  z-index: 94
}
.style96 {
  margin-left: .0918126106262207vw;
  width: .26055653889973956vw;
  height: .3859853744506836vw;
  z-index: 95
}
.style97,
.style98,
.style99 {
  margin-left: .06698052088419597vw;
  width: .30677318572998047vw;
  height: .3859853744506836vw;
  z-index: 96
}
.style98,
.style99 {
  margin-left: .06703933080037434vw;
  width: .18709182739257812vw;
  z-index: 97
}
.style99 {
  margin-left: .06214459737141927vw;
  width: .19681771596272787vw;
  z-index: 98
}
.style100 {
  margin-left: .09147008260091145vw;
  margin-top: .31874895095825195vw;
  width: .08549690246582031vw;
  height: .08285125096638997vw;
  z-index: 99
}
.designbilfootprintrow2image5container1container8row0col1row3 {
  display: flex;
  margin-left: 0;
  margin-top: .029493967692057293vw;
  width: 3.7880961100260415vw;
  height: .39801597595214844vw
}
.style101,
.style102 {
  height: .386041800181071vw
}
.style101 {
  margin-left: 0;
  width: .3067175547281901vw;
  z-index: 100
}
.style102 {
  margin-left: .2356139818827311vw;
  width: .18697738647460938vw;
  z-index: 101
}
.style103 {
  margin-left: .05893150965372721vw;
  width: .2471033732096354vw;
  height: .3920435905456543vw;
  z-index: 102
}
.style104 {
  margin-left: .05676984786987305vw;
  width: .30040423075358075vw;
  height: .386041800181071vw;
  z-index: 103
}
.style105,
.style106,
.style107 {
  margin-left: .06012598673502604vw;
  width: .1967620849609375vw;
  height: .386041800181071vw;
  z-index: 104
}
.style106,
.style107 {
  margin-left: .08302052815755208vw;
  width: .35177071889241535vw;
  z-index: 105
}
.style107 {
  margin-left: .10958671569824219vw;
  width: .22961298624674478vw;
  z-index: 106
}
.style108 {
  margin-left: .07201353708902995vw;
  width: .27753671010335285vw;
  height: .39801597595214844vw;
  z-index: 107
}
.style109 {
  margin-left: .08851051330566406vw;
  width: .24704774220784506vw;
  height: .3920435905456543vw;
  z-index: 108
}
.style110 {
  margin-left: .10685523351033528vw;
  width: .2346165974934896vw;
  height: .38607080777486164vw;
  z-index: 109
}
.style111 {
  margin-left: .06706714630126953vw;
  width: .27105172475179035vw;
  height: .39798816045125324vw;
  z-index: 110
}
.designbilfootprintrow2image5container1col1 {
  display: flex;
  margin-left: 38.43751748402914vw;
  margin-top: 8.032745520273844vw;
  width: 33.802083333333336vw;
  height: 44.05058781305949vw;
  flex-direction: column
}
.style113 {
  margin-left: .3821245829264323vw;
  margin-top: 0;
  width: 31.419315338134766vw;
  height: 7.313446203867595vw;
  z-index: 112
}
.style18,
.style19 {
  color: #fff;
  text-align: right
}
.style18 {
  margin-left: 4.375vw;
  font-family: Arial,serif;
  font-size: 2.5vw;
  font-weight: 700;
  margin-top: 11.424641609191895vw;
  z-index: 17
}
.style19 {
  font-family: open-sans-1,serif;
  font-size: .8854166666666666vw;
  font-weight: 300;
  line-height: 1.25vw;
  margin-left: 0;
  margin-top: 1.9270833333333333vw;
  width: 33.802083333333336vw;
  height: 13.697916666666666vw;
  z-index: 18;
  text-overflow: clip;
  overflow: hidden
}
.style20 {
  display: flex;
  margin-left: 13.958333333333334vw;
  margin-top: 2.34375vw;
  width: 19.02729034423828vw;
  height: 1.71875vw;
  z-index: 19
}
.style21 {
  color: #fff;
  text-align: right;
  font-family: open-sans-1,serif;
  font-size: 1.25vw;
  font-weight: 700;
  z-index: 20
}
.style112 {
  display: flex;
  margin-left: 3.151073455810547vw;
  margin-top: .10416664219876044vw;
  width: 7.7603912353515625vw;
  height: 14.973990122477213vw;
  z-index: 111;
  flex-direction: column
}
.style116 {
  background-color: #702f8a;
  display: flex;
  width: 7.760416666666667vw;
  height: 14.947916666666666vw;
  z-index: 115
}
.designbilfootprintrow2image5container1container11container12col0 {
  display: flex;
  margin-left: 1.3802083333333333vw;
  margin-top: -.026041691134572886vw;
  width: 4.947916666666667vw;
  height: 12.55208335780124vw;
  flex-direction: column
}
.style121 {
  background-color: #fff;
  display: flex;
  margin-left: 3.9583333333333335vw;
  margin-top: 0;
  width: 1.6146024068196614vw;
  height: 2.239565451939901vw;
  z-index: 120;
  justify-content: center
}
.style120,
.style122 {
  color: #702f8a;
  text-align: right;
  font-family: open-sans-1,serif;
  font-size: .8333333333333334vw;
  font-weight: 700;
  line-height: 1.25vw;
  margin-left: .3125vw;
  margin-top: .7812500244679063vw;
  z-index: 121
}
.style120 {
  color: #fff;
  font-weight: 300;
  margin-left: 1.875vw;
  margin-top: 2.812517905861339vw;
  z-index: 119
}
.style117 {
  margin-left: 1.8229166666666667vw;
  margin-top: .9895833333333334vw;
  z-index: 116
}
.style117,
.style118,
.style119 {
  color: #fff;
  text-align: right;
  font-family: open-sans-1,serif;
  font-size: .8333333333333334vw;
  font-weight: 300;
  line-height: 1.25vw
}
.style118 {
  margin-left: 3.3854166666666665vw;
  margin-top: .9895833333333334vw;
  z-index: 117
}
.style119 {
  margin-left: 0;
  margin-top: .9375vw;
  z-index: 118
}
.style12 {
  position: relative;
  margin-left: -7.226510047912598vw;
  margin-top: -22.583567301432293vw;
  width: 16.90151850382487vw;
  height: 33.80297342936198vw;
  z-index: 11;
  flex-shrink: 0
}
.style1 {
  background-image: url(https://designresources.assets.yotako.io/87fgw4qkkd9scyvw.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  position: relative;
  display: flex;
  margin-left: -1.669020652770996vw;
  margin-top: 1.7365201314290364vw;
  width: 20.564371744791668vw;
  min-width: 263.2239583333333px;
  height: 20.564200083414715vw;
  z-index: 0;
  flex-direction: column
}
.style22 {
  border-left: .5208333333333334vw solid #fff;
  border-right: .5208333333333334vw solid #fff;
  border-top: .5208333333333334vw solid #fff;
  border-bottom: .5208333333333334vw solid #fff;
  margin-left: 6.927502950032552vw;
  margin-top: 19.194393157958984vw;
  width: 2.0220820109049478vw;
  height: 1.0110410054524739vw;
  z-index: 21
}
.style23 {
  display: flex;
  margin-left: 7.291666666666667vw;
  margin-top: 10.071478949652777vh;
  width: 78.22916666666667vw;
  height: 26.666666666666668vw;
  z-index: 22
}
.designbilfootprintcontainer3col0 {
  display: flex;
  margin-left: 0;
  margin-top: 7.604166666666667vw;
  width: 20.9375vw;
  height: 19.0625vw;
  flex-direction: column
}
.style24,
.style25 {
  font-family: open-sans-1,serif
}
.style24 {
  margin-top: 0;
  color: #702f8a;
  font-size: 1.6666666666666667vw;
  z-index: 23
}
.style25 {
  color: #444;
  font-size: .8333333333333334vw;
  font-weight: 300;
  line-height: 1.25vw;
  margin-top: 1.5625vw;
  width: 20.260416666666668vw;
  height: 2.3958333333333335vw;
  z-index: 24
}
.style26 {
  display: flex;
  margin-top: 11.145833333333334vw;
  width: 20.9375vw;
  height: 1.71875vw;
  z-index: 25;
  align-items: center
}
.style27 {
  color: #05c3de;
  font-family: open-sans-1,serif;
  font-size: 1.25vw;
  font-weight: 700;
  margin-left: 0;
  width: 18.385416666666668vw;
  height: 1.71875vw;
  z-index: 26
}
.style28 {
  border-left: .5208333333333334vw solid #05c3de;
  border-right: .5208333333333334vw solid #05c3de;
  border-top: .5208333333333334vw solid #05c3de;
  border-bottom: .5208333333333334vw solid #05c3de;
  margin-left: .5300013224283854vw;
  width: 2.0220820109049478vw;
  height: 1.0110410054524739vw;
  z-index: 27;
  align-self: center
}
.style29 {
  display: flex;
  margin-left: 4.010416666666667vw;
  margin-top: 0;
  width: 53.28125vw;
  height: 26.666666666666668vw;
  z-index: 28;
  flex-direction: column
}
.designbilfootprintcontainer3container5row0,
.style30 {
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 50.625vw;
  height: 26.666666666666668vw
}
.style30 {
  background-color: rgba(255,255,255,.20000000298023224);
  width: 18.75vw;
  z-index: 29;
  flex-direction: column
}
.style34,
.style41,
.style48,
.style55,
.style62,
.style67 {
  color: #fff;
  font-family: open-sans-1,serif;
  font-size: 1.25vw;
  margin-left: 6.197916666666667vw;
  margin-top: 6.09375vw;
  z-index: 33
}
.style41,
.style48,
.style55,
.style62,
.style67 {
  margin-left: 12.1875vw;
  margin-top: 1.5104166666666667vw;
  z-index: 40
}
.style48,
.style55,
.style62,
.style67 {
  margin-left: 10.208333333333334vw;
  z-index: 47
}
.style55,
.style62,
.style67 {
  margin-left: 11.197916666666666vw;
  margin-top: 1.4583333333333333vw;
  z-index: 54
}
.style62,
.style67 {
  margin-left: 1.5625vw;
  margin-top: 1.5104166666666667vw;
  z-index: 61
}
.style67 {
  margin-left: 2.5520833333333335vw;
  z-index: 66
}
.designbilfootprintcontainer3container5row0col1 {
  display: flex;
  margin-left: 3.0208333333333335vw;
  margin-top: 2.2395833333333335vw;
  width: 5.989583333333333vw;
  height: 15.054505666097006vw;
  align-items: center;
  flex-direction: column
}
.style31 {
  color: #05c3de;
  font-family: open-sans-1,serif;
  font-size: 1.25vw;
  font-weight: 700;
  margin-top: 0;
  z-index: 30
}
.style35 {
  background-image: url(https://designresources.assets.yotako.io/87fgw4qkkd9sd3k4.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-top: 2.2916348775227866vw;
  width: 1.5246327718098958vw;
  height: 1.408704121907552vw;
  z-index: 34;
  align-self: center
}
.style36 {
  width: 1.5245437622070312vw;
  height: 1.4085896809895833vw;
  z-index: 35
}
.style42 {
  background-image: url(https://designresources.assets.yotako.io/87fgw4qkkd9sd4zy.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-top: 1.8204625447591145vw;
  width: 1.5246327718098958vw;
  height: 1.408704121907552vw;
  z-index: 41;
  align-self: center
}
.style43 {
  width: 1.5245437622070312vw;
  height: 1.4085896809895833vw;
  z-index: 42
}
.style49 {
  background-image: url(https://designresources.assets.yotako.io/87fgw4qkkd9sde4z.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-top: 1.8204625447591145vw;
  width: 1.5246327718098958vw;
  height: 1.408704121907552vw;
  z-index: 48;
  align-self: center
}
.style50 {
  width: 1.5245437622070312vw;
  height: 1.4085896809895833vw;
  z-index: 49
}
.style56 {
  background-image: url(https://designresources.assets.yotako.io/87fgw4qkkd9sdfgz.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-top: 1.7683792114257812vw;
  width: 1.5246327718098958vw;
  height: 1.408704121907552vw;
  z-index: 55;
  align-self: center
}
.style57 {
  width: 1.5245437622070312vw;
  height: 1.4085896809895833vw;
  z-index: 56
}
.style32 {
  background-color: rgba(255,255,255,.20000000298023224);
  display: flex;
  margin-left: 2.5vw;
  margin-top: 0;
  width: 11.510416666666666vw;
  height: 26.666666666666668vw;
  z-index: 31;
  align-items: center;
  flex-direction: column
}
.style33 {
  color: #05c3de;
  font-family: open-sans-1,serif;
  font-size: 1.25vw;
  font-weight: 700;
  margin-top: 2.2395833333333335vw;
  z-index: 32;
  align-self: center
}
.style37 {
  background-image: url(https://designresources.assets.yotako.io/87fgw4qkkd9sd41y.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-top: 2.2916348775227866vw;
  width: 1.5246327718098958vw;
  height: 1.408704121907552vw;
  z-index: 36;
  align-self: center
}
.style38 {
  width: 1.5245437622070312vw;
  height: 1.4085896809895833vw;
  z-index: 37
}
.style44 {
  background-image: url(https://designresources.assets.yotako.io/87fgw4qkkd9sd9bv.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-top: 1.8204625447591145vw;
  width: 1.5246327718098958vw;
  height: 1.408704121907552vw;
  z-index: 43;
  align-self: center
}
.style45 {
  width: 1.5245437622070312vw;
  height: 1.4085896809895833vw;
  z-index: 44
}
.style51 {
  background-image: url(https://designresources.assets.yotako.io/87fgw4qkkd9sdelv.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-top: 1.8204625447591145vw;
  width: 1.5246327718098958vw;
  height: 1.408704121907552vw;
  z-index: 50;
  align-self: center
}
.style52 {
  width: 1.5245437622070312vw;
  height: 1.4085896809895833vw;
  z-index: 51
}
.style58 {
  background-image: url(https://designresources.assets.yotako.io/87fgw4qkkd9sdfw6.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-top: 1.7683792114257812vw;
  width: 1.5246327718098958vw;
  height: 1.408704121907552vw;
  z-index: 57;
  align-self: center
}
.style59 {
  width: 1.5245437622070312vw;
  height: 1.4085896809895833vw;
  z-index: 58
}
.style63 {
  background-image: url(https://designresources.assets.yotako.io/87fgw4qkkd9sdgsw.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-top: 1.8204625447591145vw;
  width: 1.5246327718098958vw;
  height: 1.408704121907552vw;
  z-index: 62;
  align-self: center
}
.style64 {
  width: 1.5245437622070312vw;
  height: 1.4085896809895833vw;
  z-index: 63
}
.designbilfootprintcontainer3container5row0col3 {
  display: flex;
  margin-left: 2.65625vw;
  margin-top: 2.2395833333333335vw;
  width: 6.197916666666667vw;
  height: 21.512832641601562vw;
  align-items: center;
  flex-direction: column
}
.style70 {
  color: #05c3de;
  font-family: open-sans-1,serif;
  font-size: 1.25vw;
  font-weight: 700;
  margin-top: 0;
  z-index: 69
}
.style39 {
  background-image: url(https://designresources.assets.yotako.io/87fgw4qkkd9sd4k1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-top: 2.2916285196940103vw;
  width: 1.5246327718098958vw;
  height: 1.408704121907552vw;
  z-index: 38;
  align-self: center
}
.style40 {
  width: 1.5245437622070312vw;
  height: 1.4085896809895833vw;
  z-index: 39
}
.style46 {
  background-image: url(https://designresources.assets.yotako.io/87fgw4qkkd9sd9sn.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-top: 1.8204625447591145vw;
  width: 1.5246327718098958vw;
  height: 1.408704121907552vw;
  z-index: 45;
  align-self: center
}
.style47 {
  width: 1.5245437622070312vw;
  height: 1.4085896809895833vw;
  z-index: 46
}
.style53 {
  background-image: url(https://designresources.assets.yotako.io/87fgw4qkkd9sdf1n.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-top: 1.8204625447591145vw;
  width: 1.5246327718098958vw;
  height: 1.408704121907552vw;
  z-index: 52;
  align-self: center
}
.style54 {
  width: 1.5245437622070312vw;
  height: 1.4085896809895833vw;
  z-index: 53
}
.style60 {
  background-image: url(https://designresources.assets.yotako.io/87fgw4qkkd9sdgbq.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-top: 1.7683792114257812vw;
  width: 1.5246327718098958vw;
  height: 1.408704121907552vw;
  z-index: 59;
  align-self: center
}
.style61 {
  width: 1.5245437622070312vw;
  height: 1.4085896809895833vw;
  z-index: 60
}
.style65 {
  background-image: url(https://designresources.assets.yotako.io/87fgw4qkkd9sdh8t.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-top: 1.8204625447591145vw;
  width: 1.5246327718098958vw;
  height: 1.408704121907552vw;
  z-index: 64;
  align-self: center
}
.style66 {
  width: 1.5245437622070312vw;
  height: 1.4085896809895833vw;
  z-index: 65
}
.style68 {
  background-image: url(https://designresources.assets.yotako.io/87fgw4qkkd9sdhrl.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-top: 1.8204625447591145vw;
  width: 1.5246327718098958vw;
  height: 1.408704121907552vw;
  z-index: 67;
  align-self: center
}
.style69 {
  width: 1.5245437622070312vw;
  height: 1.4085896809895833vw;
  z-index: 68
}
.breakpoint-0 {
  display: block
}